{% extends 'website/_layouts/base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Bem-vindo!</h1>
    <p class="lead">Este é o sistema de gerenciamento de funcionários desenvolvido com Django.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="{% url 'website:lista_funcionarios' %}" role="button">Ver Funcionários</a>
    <a class="btn btn-success btn-lg" href="{% url 'website:cria_funcionario' %}" role="button">Cadastrar Novo</a>
</div>
{% endblock %}